color-card {
  background: var(--bg-color);
  color: var(--fg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  .color-name {
    font: 400 24px 'Poppins', sans-serif;
    flex-grow: 1;
    margin-bottom: 16px;
  }

  .conformance-level {
    align-items: center;
    display: flex;
    font-size: 14px;
    gap: 8px;
    margin-top: 4px;
  }

  .conformance-level span:first-child {
    border-radius: 4px;
    padding: 2px 4px;
  }
}
