@import 'color-card.css';
@import 'color-palette.css';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  --bg-color: #fff;
  --fg-color: #000;

  background: var(--bg-color);
  color: var(--fg-color);
  display: flex;
  flex-direction: column;
  font: 16px 'Fira Code', monospace;
  height: 100%;
  margin: 0;
}

header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  padding: 8px;

  h1 {
    font: 400 28px 'Poppins', sans-serif;
    margin-right: auto;
  }

  select {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    height: max-content;
  }
}
