html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font: 300 16px 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
}

.color-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
}

.color-card {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.color-card h2 {
  font: 500 16px 'Poppins', sans-serif;
  margin: 0 0 auto;
}
